*{
    margin:0;
    padding: 0;
}
body{
    background-color: hsl(47, 88%, 63%);
}
.container{
display:flex;
justify-content: center;
align-items: center;

}
.box{
    background-color:  hsl(0, 0%, 100%);
    width: 400px;
    height: 530px;
    margin-top: 50px;
    border-radius: 20px;
    border-color: black;
    

}

.one{
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
   
}

.two{
   display: inline-block;
   margin-top: 20px;
   margin-left: 30px;
    background-color: hsl(47, 88%, 63%);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-family: 'Figtree', sans-serif;
font-family: 'Montserrat', sans-serif;
}
.three{
    margin-top:20px;
    margin-left:30px ;
    color: hsl(0, 0%, 7%)
    ;
   
    font-family: 'Montserrat', sans-serif;

}
h2{
    margin-top:20px;
    margin-left:30px ;
    font-family: 'Figtree', sans-serif;
   
}
p{
    margin-top:20px;
    margin-left:30px ;  
    color:hsl(0, 0%, 50%);
    font-size: 16px;
    line-height: 25px;
    font-family: 'Figtree', sans-serif;
font-family: 'Montserrat', sans-serif;
}
.four{
    margin-top:20px;
    margin-left:30px ;
    font-family: 'Figtree', sans-serif;
font-family: 'Montserrat', sans-serif;
}
.circle {
  
    border-radius: 50%;
    object-fit: cover;
   }
   
   .text
   {
    position: relative;
    left:40px;
    bottom:30px;
    font-family: 'Figtree', sans-serif;
   }